.container-perfil{
    display: flex;
    width: 390px;
    height: 300px;
    border-radius: 22px;  
    flex-direction: column;
    position: relative;
    top: 150px;
}
.container-perfil .contato{
    color: white;
    display: flex;
    width: 100%;

}
.container-perfil .contato ul{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    align-items:baseline;
    margin-left: -40px;
    margin-top: 20px;
}
.container-perfil .contato ul li{
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.container-perfil img{
    border-radius: 20px;
}