
header{
    display: flex;
    justify-content: space-around;
    color: antiquewhite
}
header nav {
    display: flex;
}
header nav ul{
    display: flex;
    align-items: center;
    gap: 60px;
}
header nav ul li{
    display: flex;
    font-size: 20px;
    position: relative;
    cursor: pointer;

}
header nav ul li:after{
    content: "";
    position: absolute;
    background-color: aqua;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px; 
    transition: 0.4s;
}
header nav ul li:hover::after{
    width: 100%;
}
